@import "bootstrap-sprockets";
@import "bootstrap";

.product-group {
  border: solid 1px #000;
  width: 40%;
  height: 300px;
  display: inline-block;
  margin: 30px;
  text-align: center;

  img {
    margin-top: 20px;
  }
}

#carousel-example-generic {
  width: 50%;
}

.modal-dialog {
  width: 200px;
}
